<!--File Name: GokulrajVenugopal_COMP229_Assignment2
Student Name: Gokulraj Venugopal
Student ID: 301202722
Date: 21-Feb-2022 
-->

<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Content for the Add page -->
<div class="jumbotron jumbotron-fluid">
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="CNameTextField">Contact Name</label>
                    <input type="text" class="form-control"
                    id="CNameTextField"
                    placeholder="Enter the Contact Name"
                    name="Cname" 
                    value="<%= business.ContactName %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="CNumberTextField">Contact Number</label>
                    <input type="text" class="form-control"
                    id="CNumberTextField"
                    placeholder="Enter the Contact Number"
                    name="Cnumber" 
                    value="<%= business.ContactNumber %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="EmailTextField">Email</label>
                    <input type="text" class="form-control"
                    id="EmailTextField"
                    placeholder="Enter the Email Address"
                    name="email" 
                    value="<%= business.EmailAddress %>"
                    required>
                </div>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Update</button>
                    <a href="/business-list/delete/<%= business._id %>" class="btn btn-danger btn-sm">
                        <i class="fas fa-trash-alt"></i> Delete</a> 
                    <a href="/business-list" class="btn btn-warning">
                            <i class="fas fa-undo"></i> Cancel</a>  
 

            </form>
        </div>

    </div>
</div>


<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>